{:http-server-root "."
 :server-port 8000
 :builds
 {:dev {:source-paths ["src"]
        :figwheel {}
        :compiler {:output-to "resources/js/main.js"
                   :output-dir "resources/js"
                   :asset-path "js/"
                   :optimizations :none
                   :main artemis.core
                   :preloads [devtools.preload]}}
  :example {:source-paths ["examples/shared"]
            :figwheel {:on-jsload example.core/on-load}
            :compiler {:main example.core}}
  :re-frame {:source-paths ["examples/re_frame"]}}}
